[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
python-dotenv = "*"
flask-marshmallow = "*"
flask-migrate = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
